form { display: none; }
li { list-style: none; font-size: 18pt; margin-bottom: 1em; }
button { display: none; }
#footer, #reload { display: none; }
.term-info { display: none; }
.ui-tabs-nav li { display: none; }
.ui-tabs-hide { display: none; }
.ui-status-1 { display: none; }
.ui-status-3 { color: black !important; }
.ui-status-4 { display: none; }
#list-r { display: none; }
