html, body { font-size: 13px; font-family: Verdana; }
h1 {
	border-bottom: 1px solid #DFE2E1;
	margin-bottom: .5em;
	font-family: Georgia, Times New Roman, Serif;
	font-size: 200%;
	font-variant: small-caps;
	font-style: italic;
	font-weight: normal;
}

h2 { font-size: 16px; margin-bottom: .5em; }
h3 { margin-bottom: .5em; }

#footer {
	margin-top: 1em;
	border-top: 1px solid #DFE2E1;
	text-align: center;
	font-size: 75%;
}

fieldset { margin-bottom: 1em; }
label {
	font-weight: normal;
	font-size: 90%;
	width: 105px;
}
input[type="text"] { width: 144px; }

#person_part {
	position: relative;
}
#person_part label {
	float: left;
	display: block;
	line-height: 22px;
}
#patient-reservations {
	border-collapse: collapse;
	border: 2px solid #999;
	width: 100%;
}
#patient-reservations th, td {
	border-collapse: collapse;
	border: 1px solid #999;
	padding: 3px;
}
#patient-reservations th { font-weight: bold; background-color: #DDD; }

.future td {
	background-color: #e5ffe5;
	color: #0A0;
}
#all-reservations {
	position: absolute;
	padding: 2px;
	right: 45px;
	top: 0px;
	border: none;
	background: none;
	display: none;
}
button {
	padding: 5px 7px;
	font-weight: bold;
	font-size: 100%;
	margin-bottom: 1em;
}

form ul { list-style: none; }

#list-r { margin-bottom: 1em; }
#list-r a { color: #00F; }

.errorlist {
	font-size: 10px;
	color: #F00;
	margin-left: 10px;
}
.error-message { color: #F00; }
#datetime .errorlist {
	list-style: none;
	font-size: 14px;
}
#datetime { position: relative; }

#datepicker { margin-top: 2em; margin-bottom: 1em; }

#ui-selectable {
	list-style-type: none;
	margin: 0;
	margin-bottom: 1em;
	padding: 0;
	max-height: 360px;
	overflow: auto;
}
#ui-selectable li {
	margin: 3px;
	padding: 0.4em;
	font-size: 1.4em;
	height: 30px;
}
#ui-selectable .ui-selected { background: #F39814; color: white; }

.term-info { font-size: 14px;  }

#phones { margin: .5em 2em; font-size: 14px; }
