<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN"
"http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en-US" lang="en-US">
{% load i18n %}
<head>
	<title>{% block title %}{% trans "Medobs &ndash; medical reservation system" %}{% endblock %}</title>
	<meta http-equiv="content-type" content="text/html; charset=utf-8" />
	<meta name="author" content="Peter Hyben; e-mail: hugis@tag.sk" />
	<link rel="stylesheet" href="{{ STATIC_URL }}css/960.css" type="text/css" media="screen, projection">
	<link rel="stylesheet" href="{{ STATIC_URL }}css/cupertino/jquery-ui.css" type="text/css" media="screen, projection" />
	<link rel="stylesheet" href="{{ STATIC_URL }}css/style.css" type="text/css" media="screen, projection" />
	{% if user.is_authenticated %}<link rel="stylesheet" href="{{ STATIC_URL }}css/print.css" type="text/css" media="print" />{% endif %}
	{% block head_css %}{% endblock %}
	{% block head_section %}{% endblock %}
	{% block head_page %}{% endblock %}
</head>

<body>
<div class="container_12">
<h1 class="grid_12">{% trans "Medical Reservation System" %}</h1>
{% block page_container %}{% endblock %}
<div id="footer" class="grid_12">
	Medobs {{ VERSION }} |
	<a href="http://www.urologia-presov.sk/">Urologická ambulancia</a>, Doc. MUDr. Ivan Minčík, PhD. |
	{% if user.is_authenticated %}
	{{ user.get_full_name }} | <a href="/accounts/logout/?next=/">{% trans "logout" %}</a>
	{% else %}
	<a href="/accounts/login/?next=/">{% trans "login" %}</a>
	{% endif %}
</div>
</div>

{% block footer %}
{% block footer_js_site %}
<script type="text/javascript" src="{{ STATIC_URL }}js/jquery.js"></script>
<script type="text/javascript" src="{{ STATIC_URL }}js/jquery-ui.js"></script>
{% endblock %}
{% block footer_js_page %}{% endblock %}
{% endblock %}
</body>
</html>
