{% extends "base.html" %}
{% load i18n %}

{% block head_css %}
<style type="text/css">
	h2 { color: #090; }
</style>
{% endblock %}

{% block page_container %}
<div class="grid_12">
<h2>{% trans "Your reservation has been booked." %}</h2>
<p>{% trans "If you want to change or cancel your reservation call us on phone number:" %}</p>

<ul id="phones">
	{% for n in place.phone_numbers.all %}<li>{{ n }}</li>{% endfor %}
</ul>

<p><a href="/place/{{ place.id }}/">{% trans "Back to front page" %}</a></p>
</div>
{% endblock %}
