{% extends "base.html" %}
{% load i18n %}

{% block head_css %}
<style type="text/css">
	h2 { color: #900; }
</style>
{% endblock %}

{% block page_container %}
<div class="grid_12">
{% if user.is_authenticated %}
	<h2>{% trans "This patient has already booked reservation." %}</h2>
	{% for message in messages %}<p>{{ message|safe }}</p>{% endfor %}
{% else %}
	<h2>{% trans "You have already booked reservation." %}</h2>
	{% for message in messages %}<p>{{ message|safe }}</p>{% endfor %}
	<p>{% trans "If you want to change or cancel your reservation call us on phone number:" %}</p>

	<ul id="phones">
		{% for n in office.phone_numbers.all %}<li>{{ n }}</li>{% endfor %}
	</ul>
{% endif %}
<p><a href="/office/{{ office.id }}/">{% trans "Back to front page" %}</a></p>
</div>
{% endblock %}
