{% extends "base.html" %}
{% load i18n %}

{% block head_css %}
<style>
	fieldset { margin-bottom: 1em; }
	label {
		font-weight: normal;
		font-size: 80%;
		width: 14ex;
	}
	#person_part label {
		float: left;
		display: block;
		line-height: 24px;
	}
	input[type="submit"] {
		padding: 5px 7px;
		font-weight: bold;
		font-size: 100%;
	}
	form ul { list-style: none; }
	.errorlist { font-size: 80%; color: #F00; margin-left: 10px; }
	#datepicker { margin-top: 2em; margin-bottom: 1em; }
	.ui-selectable { list-style-type: none; margin: 0; padding: 0; width: 60%; }
	.ui-selectable li { margin: 3px; padding: 0.4em; font-size: 1.4em; height: 30px; }
	.ui-selectable .ui-selected { background: #F39814; color: white; }
	.ui-selectable .ui-disabled { color: #CCC; }
</style>
{% endblock %}


{% block page_container %}
<form class="grid_4" action="." method="post">
	<fieldset id="person_part">
		{% csrf_token %}
		{{ form.ident_hash.label_tag }}{{ form.ident_hash }}{{ form.ident_hash.errors }}
		{{ form.first_name.label_tag }}{{ form.first_name }}{{ form.first_name.errors }}
		{{ form.last_name.label_tag }}{{ form.last_name }}{{ form.last_name.errors }}
		{{ form.phone_number.label_tag }}{{ form.phone_number }}{{ form.phone_number.errors }}
		{{ form.email.label_tag }}{{ form.email }}{{ form.email.errors }}
	</fieldset>
	<fieldset id="visit_part">
		{{ form.reservation }}{{ form.reservation.errors }}
		{{ form.exam_kind.label_tag }}{{ form.exam_kind }}{{ form.exam_kind.errors }}
	</fieldset>
	<div id="datepicker"></div>
	<button type="submit">{% trans "Book reservation" %}</button>
</form>

<div class="grid_8" id="datetime">
	<div id="tabs">
		<ul>
		{% for place in places %}
			<li><a href="#tabs-{{ place.id }}">{{ place.name }}</a></li>
		{% endfor %}
		</ul>
		{% for place in places %}
		<div id="tabs-{{ place.id }}">
			<h3>Deň: {% now "d.m.Y" %}</h3>
			<ol class="ui-selectable">
				{% for r in place.reservations %}
				<li class="ui-widget-content ui-selectee{% if r.status != 2 %} ui-disabled{% endif %}">
					<input type="hidden" value="{{ r.id }}" />
					{{ r.starting_time|date:"H:i" }}
				</li>
				{% endfor %}
			</ol>
		</div>
		{% endfor %}
	</div>
</div>

{% endblock %}

{% block footer_js_page %}
<script>
$(function() {
	$("#datepicker").datepicker();
	$("#tabs").tabs();
	$(".ui-selectable li").click(function(){
		if(!$(this).hasClass("ui-disabled")){
			$(".ui-selected").removeClass("ui-selected");
			$(this).addClass("ui-selected");
			$("#id_reservation").val($("input[type='hidden']", $(this)).val());
		}
	});
});
</script>
{% endblock %}
