{% extends "base.html" %}
{% load i18n %}

{% block head_css %}
<style type="text/css">
	{% if user.is_authenticated %}
	#ui-selectable .ui-status-1 { color: #CCC; }
	#ui-selectable .ui-status-3 { color: #0A0; }
	#ui-selectable .ui-status-4 { color: #A00; }
	#reload { position: absolute; top: 0; right: 0; }
	{% else %}
	#ui-selectable .ui-disabled { color: #CCC; }
	{% endif %}
</style>
{% endblock %}


{% block page_container %}
<div class="grid_12 ui-tabs ui-widget ui-widget-content ui-corner-all">
<ul class="ui-tabs-nav ui-helper-reset ui-helper-clearfix ui-widget-header ui-corner-all">
{% for p in places %}
	<li class="ui-state-default ui-corner-top{% if p.id == place.id %} ui-tabs-selected ui-state-active{% endif %}">
		<a href="/place/{{ p.id }}/">{{ p.name }}</a>
	</li>
{% endfor %}
</ul>
<div class="ui-tabs-panel ui-widget-content ui-corner-bottom">
<form class="grid_4" action="." method="post">
	<fieldset id="person_part">
		{% if message %}<p class="error-message">{{ message }}</p>{% endif %}
		{% csrf_token %}
		{{ form.ident_hash.label_tag }}{{ form.ident_hash }}{{ form.ident_hash.errors }}
		{% if user.is_authenticated %}<button id="all-reservations"><img src="{{ MEDIA_URL }}images/table.png" /></button>{% endif %}
		{{ form.first_name.label_tag }}{{ form.first_name }}{{ form.first_name.errors }}
		{{ form.last_name.label_tag }}{{ form.last_name }}{{ form.last_name.errors }}
		{{ form.phone_number.label_tag }}{{ form.phone_number }}{{ form.phone_number.errors }}
		{{ form.email.label_tag }}{{ form.email }}{{ form.email.errors }}
	</fieldset>
	<fieldset id="visit_part">
		{{ form.reservation }}
		{{ form.exam_kind.label_tag }}{{ form.exam_kind }}{{ form.exam_kind.errors }}
	</fieldset>
	<div id="datepicker"></div>
	<button type="submit">{% trans "Book reservation" %}</button>
	<button type="reset">{% trans "Reset" %}</button>
</form>

<div class="grid_7" id="datetime">
	<h3>{% trans "Day:" %} <span id="actual-date">{{ actual_date|date:"d.m.Y" }}</span></h3>
	{% if user.is_authenticated %}
	<p id="list-r"><a href="#">{% trans "List of reservations" %}</a></p>
	<button id="reload">{% trans "Reload" %}</button>
	{% endif %}
	{{ form.reservation.errors }}
	<ol id="ui-selectable">
		{% for r in place.reservations %}
		<li class="ui-widget-content ui-selectee{% if r.id == reservation_id %} ui-selected{% endif %} {% spaceless %}
			{% if user.is_authenticated %}
				ui-status-{{ r.status }}
			{% else %}
				{% if r.status != 2 %}ui-disabled{% endif %}
			{% endif %}{% endspaceless %}">
			<input type="hidden" value="{{ r.id }}" />
			{{ r.starting_time|date:"H:i" }}
			{% if user.is_authenticated and r.status == 3 %} <span class="patient-name">{{ r.patient.full_name }}</span>{% endif %}
			{% if not user.is_authenticated and r.status != 2 %} <span class="term-info">{% trans "Appointment already booked or unavailable" %}</span>{% endif %}
		</li>
		{% endfor %}
	</ol>
</div>

</div>
</div>
{% endblock %}

{% block footer_js_page %}
{% if DATEPICKER_I18N_FILE %}<script type="text/javascript" src="{{ MEDIA_URL }}{{ DATEPICKER_I18N_FILE }}"></script>{% endif %}
<script type="text/javascript">
$(function() {
	function select_reservation(elem){
		$(".ui-selected").removeClass("ui-selected");
		elem.addClass("ui-selected");
		$("#id_reservation").val($("input[type='hidden']", elem).val());
	}

	{% if user.is_authenticated %}
	// code source: http://docs.djangoproject.com/en/1.3/ref/contrib/csrf/
	$('html').ajaxSend(function(event, xhr, settings) {
		function getCookie(name) {
			var cookieValue = null;
			if (document.cookie && document.cookie != '') {
				var cookies = document.cookie.split(';');
				for (var i = 0; i < cookies.length; i++) {
					var cookie = jQuery.trim(cookies[i]);
					// Does this cookie string begin with the name we want?
					if (cookie.substring(0, name.length + 1) == (name + '=')) {
						cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
						break;
					}
				}
			}
			return cookieValue;
		}
		if (!(/^http:.*/.test(settings.url) || /^https:.*/.test(settings.url))) {
			// Only send the token to relative URLs i.e. locally.
			xhr.setRequestHeader("X-CSRFToken", getCookie('csrftoken'));
		}
	});

	$("#all-reservations").click(function(){
		var ident_hash = $("#id_ident_hash").val();
		if(ident_hash != ""){
			$.post("/patient/reservations/", {ident_hash: ident_hash}, function(data){
				var title = $("#id_first_name").val() +" "+ $("#id_last_name").val();

				$("<div></div>")
					.html(data)
					.appendTo("body")
					.dialog({
						width: 530,
						height: 200,
						title: title,
						close: function(event, ui){
							$(this).dialog("destroy").remove();
						}
					});
			}, "html");
		}
		return false;
	});

	$("#list-r a").click(function(){
		var date_str = $.datepicker.formatDate("yy-mm-dd", $("#datepicker").datepicker("getDate"));
		var url = "/reservations/"+ date_str +"/list/{{ place.id }}/";
		window.open(url, "");
		return false;
	});

	$("#id_ident_hash").focusout(function(){
		var ident_hash = $(this).val();
		if(ident_hash != ""){
			$.post("/patient/", {ident_hash: ident_hash}, function(data){
				if(data.first_name){
					$("#id_first_name").val(data.first_name);
					$("#all-reservations").show();
				}
				if(data.last_name) $("#id_last_name").val(data.last_name);
				if(data.phone_number) $("#id_phone_number").val(data.phone_number);
				if(data.email) $("#id_email").val(data.email);
			});
		}
	});

	$("#ui-selectable li").live("click", function(){
		var elem = $(this);
		var tab = elem.parent().parent();
		var r_id = $("input[type='hidden']", elem).val();

		$(".act-button", tab).remove();

		function add_button(text, func){
			$("<button></button>")
				.html(text)
				.addClass("act-button")
				.appendTo(tab)
				.button()
				.click(func);
		}

		function display_message(title, text){
			$("<div></div>")
				.html(text)
				.appendTo("body")
				.dialog({
					title: title,
					close: function(event, ui){
						$(this).dialog("destroy").remove();
					}
				});
		}

		if(elem.hasClass("ui-status-2")){
			$.getJSON("/reservations/"+ r_id +"/hold/", function(data){
				if(data.status_ok){
					elem.removeClass("ui-status-2")
						.addClass("ui-status-4");
				} else {
					display_message(
						"{% trans "Message" %}",
						"{% trans "The hold operation failed" %}"
					);
				}
			});
		}

		select_reservation($(this));

		{% if user.is_staff %}
		if(elem.hasClass("ui-status-1")){
			add_button("{% trans "Enable" %}", function(){
				$.getJSON("/reservations/"+ r_id +"/enable/", function(data){
					if(data.status_ok){
						elem.removeClass("ui-status-1").addClass("ui-status-2");
						$(".ui-selected", tab).removeClass("ui-selected");
						$(".act-button", tab).remove();
					} else {
						display_message(
							"{% trans "Message" %}",
							"{% trans "The enable operation failed" %}"
						);
					}
				});
			});
		}
		{% endif %}

		if(elem.hasClass("ui-status-3")){
			$.getJSON("/reservations/"+ r_id +"/details/", function(data){
				var person_part = $("#person_part");
				$("#id_first_name", person_part).val(data.first_name);
				$("#id_last_name", person_part).val(data.last_name);
				$("#id_phone_number", person_part).val(data.phone_number);
				$("#id_email", person_part).val(data.email);
				$("input[type='radio'][value='"+ data.exam_kind +"']").click();
			});
			add_button("{% trans "Unbook" %}", function(){
				$.getJSON("/reservations/"+ r_id +"/unbook/", function(data){
					if(data.status_ok){
						elem.removeClass("ui-status-3").addClass("ui-status-2");
						$(".patient-name", elem).remove();
						$(".ui-selected", tab).removeClass("ui-selected");
						$(".act-button", tab).remove();
					} else {
						display_message(
							"{% trans "Message" %}",
							"{% trans "The unbook operation failed" %}"
						);
					}
				});

			});
		}

		if(elem.hasClass("ui-status-4")){
			add_button("{% trans "Unhold" %}", function(){
				$.getJSON("/reservations/"+ r_id +"/unhold/", function(data){
					if(data.status_ok){
						elem.removeClass("ui-status-4").addClass("ui-status-2");
						$(".ui-selected", tab).removeClass("ui-selected");
						$(".act-button", tab).remove();
					} else {
						display_message(
							"{% trans "Message" %}",
							"{% trans "The unhold operation failed" %}"
						);
					}
				});
			});
			{% if user.is_staff %}
			add_button("{% trans "Disable" %}", function(){
				$.getJSON("/reservations/"+ r_id +"/disable/", function(data){
					if(data.status_ok){
						elem.removeClass("ui-status-4").addClass("ui-status-1");
						$(".ui-selected", tab).removeClass("ui-selected");
						$(".act-button", tab).remove();
					} else {
						display_message(
							"{% trans "Message" %}",
							"{% trans "The disable operation failed" %}"
						);
					}
				});

			});
			{% endif %}
		}
	});

	function make_reservation_item(r, rlist){
		$("<li></li>")
			.addClass("ui-widget-content ui-selectee ui-status-"+ r.status)
			.html(r.time)
			.appendTo(rlist)
			.prepend($("<input>").attr({
				type: "hidden",
				value: r.id
			}))
			.append($("<span></span>").addClass("patient-name").html(" "+ r.patient));
	}

	$("#reload").button({
		icons: {primary: "ui-icon-refresh"},
		text: false
	}).click(function(){
		var date_str = $.datepicker.formatDate("yy-mm-dd", $("#datepicker").datepicker("getDate"));
		var url = "/reservations/"+ date_str +"/{{ place.id }}/";
		$.getJSON(url, function(data){
			var rlist = $("#ui-selectable");
			rlist.empty();
			$.each(data, function(i, r){
				make_reservation_item(r, rlist);
			});

			$(".act-button", $("#datetime")).remove();
		});
	});

	{% else %}

	$("#ui-selectable li").live("click", function(){
		if(!$(this).hasClass("ui-disabled")){ select_reservation($(this)); }
	});

	function make_reservation_item(r, rlist){
		var disabled_class = r.disabled ? " ui-disabled" : "";
		var ritem = $("<li></li>")
			.addClass("ui-widget-content ui-selectee"+ disabled_class)
			.html(r.time)
			.appendTo(rlist)
			.prepend($("<input>").attr({
				type: "hidden",
				value: r.id
			}));
		if(r.disabled){
			ritem.append($("<span></span>")
				.addClass("term-info")
				.html(" {% trans "Appointment already booked or unavailable" %}")
			);
		}
	}
	{% endif %}

	$("button[type='reset']").click(function(){
		$("#id_reservation").val("");
		$(".ui-selected").removeClass("ui-selected");
		$(".act-button").remove();

	});

	var day_status = {{ place.days_status|safe }};

	$("#datepicker").datepicker({
		defaultDate: "{{ actual_date|date:"Y-m-d" }}",
		minDate: "{{ actual_date|date:"Y-m-d" }}",
		maxDate: "{{ end_date|date:"Y-m-d" }}",
		dateFormat: "yy-mm-dd",
		onSelect: function(dateText, inst){
			var date_str = $.datepicker.formatDate("dd.mm.yy", $(this).datepicker("getDate"));
			var url = "/reservations/"+ dateText +"/{{ place.id }}/";
			$.getJSON(url, function(data){
				$("#actual-date").html(date_str);

				var rlist = $("#ui-selectable");
				rlist.empty();
				$.each(data, function(i, r){
					make_reservation_item(r, rlist);
				});
			});
		},
		beforeShowDay: function(date) {
			var date_str = date.getFullYear() +"-"+ (date.getMonth()+1) +"-"+ date.getDate();
			var dstat = day_status[date_str];

			if(dstat == undefined) return [false];
			return [dstat];
		}
	});

});
</script>
{% endblock %}
